#about {
    background: url(https://content.webru.in/back01-2.jpg);
    border: 4px double #000020;
    bottom: 0;
    display: none;
    left: -8px;
    max-width: 200px;
    position: absolute;
    transform: translateY(calc(100% + 16px));
    z-index: 1;
}
#about-button {
    display: none;
}
#about-button:checked + #about {
    display: block;
}
#about-button:checked ~ #about-button-label::after {
    content: ' ▴';
}
#about-button:checked ~ #about-button-label::before {
    content: '▴ ';
}
#about-button-label {
    bottom: 0;
    cursor: pointer;
    font-size: 1.5rem;
    left: 0;
    margin: 8px 12px;
    position: absolute;
}
#about-button-label::after {
    content: ' ▾';
}
#about-button-label::before {
    content: '▾ ';
}
#about-text {
    background: url(https://content.webru.in/back01-2-dark.jpg);
    border: 4px double #000020;
    display: block;
    font-family: 'Chivo Mono', monospace;
    font-size: 1rem;
    margin: 12px;
    margin: 4px;
    padding: 12px;
    text-shadow: none;
    text-align: center;
}
#about-text a {
    color: white;
}
body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
    font-size: 1rem;
}
#body-background {
    background: url(https://content.webru.in/newstars.gif);
    height: 150lvh;
    position: fixed;
    width: 100lvw;
    z-index: -1;
}
header {
    align-items: center;
    background-image: url(https://content.webru.in/back01-1.jpg);
    border: 8px double #000020;
    display: flex;
    font-family: 'VT323', monospace;
    font-size: 3rem;
    font-weight: bold;
    height: 44px;
    justify-content: center;
    margin: 0 8px 8px 8px;
    padding: 8px;
    position: relative;
}
header a {
    color: white;
    line-height: 72px;
    text-decoration: none;
}
header span, header label {
    text-shadow:
            4px 4px black,
            -4px 4px black,
            4px -4px black,
            -4px -4px black,
            0px 4px black,
            0px -4px black,
            4px 0px black,
            -4px 0px black;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
#search-query {
    background: url(https://content.webru.in/back01-2-dark.jpg);
    border: 4px double #000020;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
    height: 24px;
    width: 124px;
}
#search-query:focus {
    outline: none;
}
.item {
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    overflow-x: auto;
    overflow-y: hidden;
    transition: opacity 0.25s;
}
.item img {
    transition: opacity 0.25s;
}
.item img:hover {
    cursor: pointer;
}
#items {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: 8px;
    grid-template-columns: repeat(auto-fill, 8px);
    margin: 0;
    overflow: hidden;
    position: relative;
}
#items-background {
    background: url(https://content.webru.in/newtwinklestars.gif);
    filter: brightness(0.75) contrast(2);
    height: 150%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: -1;
}
#lightbox {
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    height: 100lvh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100lvw;
    z-index: 2;
}
#lightbox:hover {
    cursor: pointer;
}
.loading-image {
    position: absolute;
    transform: translate(1px, 1px);
    z-index: 1;
}
#load-more-button {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s;
}
#logo {
    height: 44px;
    margin: 0 8px;
    position: relative;
    top: 8px;
    width: 44px;
}
main {
    margin: 0 auto;
    max-width: 800px;
    padding: 8px 0 20px 0;
}
.page-navigation {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 16px 0 0 0;
    text-align: center;
}
.page-navigation a {
    text-decoration: none;
    color: white;
}
#search {
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 8px 12px;
    position: absolute;
    right: 0;
    text-align: left;
    width: 152px;
}
#search-icon {
    display: none;
    font-size: 1.125rem;
    margin: auto 12px 0 0;
}
#search-query-submit-button {
    display: none;
}
#search-query-submit-label {
    background: url(https://content.webru.in/back01-2-dark.jpg);
    border: 4px double #000020;
    border-left: none;
    bottom: 0;
    font-family: 'Chivo Mono', 'monospace';
    font-size: 1rem;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: 0;
    width: 24px;
}
@media screen and (min-width: 280px) {
    :root {
        --max-column-span: 35;
    }
}
@media screen and (min-width: 300px){
    :root {
        --max-column-span: 37;
    }
}
@media screen and (min-width: 360px) {
    :root {
        --max-column-span: 45;
    }
}
@media screen and (min-width: 380px) {
    :root {
        --max-column-span: 47;
    }
}
@media screen and (min-width: 400px) {
    :root {
        --max-column-span: 50;
    }
}
@media screen and (min-width: 440px) {
    :root {
        --max-column-span: 55;
    }
}
@media screen and (min-width: 480px) {
    :root {
        --max-column-span: 60;
    }
}
@media screen and (min-width: 520px) {
    :root {
        --max-column-span: 65;
    }
}
@media screen and (min-width: 560px) {
    :root {
        --max-column-span: 70;
    }
}
@media screen and (min-width: 600px) {
    :root {
        --max-column-span: 75;
    }
}
@media screen and (min-width: 680px) {
    :root {
        --max-column-span: 85;
    }
}
@media screen and (min-width: 760px) {
    :root {
        --max-column-span: 95;
    }
}
@media screen and (min-width: 800px) {
    :root {
        --max-column-span: 100;
    }
    #items {
        margin: 0 28px;
    }
}
@media screen and (max-width: 640px) {
    header {
        align-items: start;
        height: 84px;
    }
    header a {
        line-height: normal;
        position: relative;
        top: -8px;
    }
}
@media screen and (max-width: 340px) {
    #search {
        width: 94px;
    }
    #search-query {
        width: 66px;
    }
}